# Database connection (SQLite local file)
DATABASE_URL="file:./dev.db"

# Next Auth Configuration
# RUN `npx auth secret` or `openssl rand -base64 32` to generate a a secret in production
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Google Gemini API Key (Required for AI Studio integrations)
GEMINI_API_KEY=""
